
<div>&ensp</div>
<div class="main-content pt-5">
    <div class="m-5">
        <div class="p-2 box pb-5">
            <div class="row p-3">
                <div class="pr-2"><i class="fas fa-chart-line icon-style"></i></div>
                <h6>Subscriptions</h6>
            </div>
            <hr>
            <div class="ml-3 mt-5">
                <div class="form-row form-style">
                    <div class="col-2">
                        <input type="text" class="form-control form-style" placeholder="ID">
    
                    </div>
                    <div class="col-2">
                        <input type="text" class="form-control form-style" placeholder="Amount">
                    </div>
                    <div class="col-2">
                        <input type="text" class="form-control form-style" placeholder="Donation To">
                    </div>
                    <div class="col-2">
                        <input type="text" class="form-control form-style" placeholder="Start Date">
                    </div>
                    <div class="col-2">
                        <input type="text" class="form-control form-style" placeholder="Status">
                    </div>
                    <div class="col-2">
                        <input type="text" class="form-control form-style" placeholder="Action">
                    </div>
                    
                </div>
            </div>
        </div>
        
    </div>
</div>